*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 800px;
    background-color: lightblue;
    font-family: "Exo 2", serif;
}
.container {
    width: 100%;
    
}
.local {
    font-weight: 400;
}
.navbar-container {
    display: flex;
    justify-content:space-around;
    gap: 50px;
    position: sticky;
    width: 100%;
    top: 0;
    background-color:white;
    
    z-index: 10;
    padding: 10px;

}

.info {
    display: flex;
    gap: 100px;
    text-align: center;
    position: relative;
    padding: 10px;
    font-size: 18px;
}
.info a {
    position: relative;
    text-decoration: none;
    padding: 0 auto;
    color: coral;
    transition: all 0.5s ease-in-out;
}
.info a:hover {
    color: lightblue;
}
.info a::before {
    content: "";
    position: absolute;
    background-color: black;
    height: 2.5px;
    width: 0;
    bottom:15px;
    left: 0;
    transition: all 0.5s ease-in-out;
    z-index: 11;
}
.info a:hover::before, .info a:focus::before {
    width: 100%;
    background-color: lightblue;
}

.main {
    font-size: 35px;
    background: url(kalaw.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  bottom;
    height: 550px;
    color:coral;
}
.main .hidden {
    text-align: center;
    position: relative;
    top: 200px;
}

/* .developer {
    position: relative;
    left: 120px;
}
.developer p{
    width: 400px;
} */

.display {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 30px;
    position: relative;
    top: 40px;
    background-color:white;
}
.display a {
    transition: all 0.6s linear;
    cursor: pointer;
    text-decoration: none;
    color:coral;
}
.display a:hover {
    color: lightblue;
}
.hidden {
    opacity: 0;
  
    filter: blur(5px);
    transform: translateX(-100%);
    
    transition: all 0.7s ease-in;
}
.show {
    opacity: 1;
    transform: translateX(0%);
    filter: blur(0);
   
}
.content {
    display: flex;
    
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}


.slider {
    height:var(--height);
    width: 100%;
    margin: auto;
    overflow:hidden;
}
.slide-track {
    display: flex;
    gap:100px;
    width: 100%;
    min-width: calc(var(--width)  * var(--number));
}
.item {
    height: var(--height);
    width: var(--width);
    position: absolute;
    left: 100%;
    animation: slider 10s linear infinite;
    animation-delay: calc((10s / var(--number) ) * var(--position)*  -1);
    padding: 0px 10px;
    
}
.item img {
    width: 100%;
    border-radius: 10px;
    transition: all linear 0.7s;
}
.item img:hover {
    filter:contrast(150%);
}

.item a {
    text-decoration: none;
    color: coral;
    font-size: 20px;
    position: relative;
    left: 70px;
    top: -35px;
    transition: all 1s linear;
}
.item a:hover{
    color: black;
    
}

.about h1 {
    text-align: center;
    width: 60%;
}
.about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
 form {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        color: coral;
        width: 43%;
    } 
form input {
    width: 100%;
}
textarea {
    width: 50px;
    resize: none;
}

form button {
    border: none;
    padding: 5px;
    color: coral;
    position: relative;
    left: 260px;
    background-color: lightblue;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 800px;
    background-color: coral;
    padding: 10px;
    margin-top: 30px;
    color: lightblue;
}
.box1 {
    position: relative;
    left: -50px;
}
.fa-facebook {
    background-color:blue;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.box2 {
    position: relative;
    left: 50px;
    
}
.fa-twitter {
    background-color:lightskyblue;
    color: white;
    padding: 5px;   
    border-radius: 10px;
    margin-left: 20px;
}

@keyframes slider {
    from {
        left: 100%

    }
    to {
        left: calc(var(--width) * -1)
    }
};
